<div class="container col-3">
  <div class="text-center"><h1>Profil</h1></div>
  <div class="uploader-pic">
    <%= simple_form_for current_user, url: update_profile_photo_path do |f| %>
      <%= f.input :username %>
      <%= f.input :photo, as: :file %>
      <div>
       <%= f.button :submit, "Confirmed", class: "neon-button-secondary" %>
      </div>
    <% end %>
  </div>
</div>
