<h1>profile</h1>

<h3>basic</h3>
<ul>
  <li>username: </li>
  <%= current_user.username %>
  <li>profilepic</li>
  <li>follow button  </li>

    <a class="neon-button-primary" href="/midis">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Follow me
    </a>

  <li>my uploaded midis [default]</li>

  <% @midis.each do |midi| %>
    <p><%= midi.title %></p>
  <% end %>

  <li>my liked midis [alternate list]</li>
</ul>

<br>
<br>

<h3>Bio Card</h3>
<ul>
  <li>uploaded midi count</li>
  <li>upvotes sum</li>
  <li>bio</li>
  <li>icon link to [soundcloud, instagram, facebook]</li>
</ul>

<div class="profile-card">
  <div class="profile-stats">
    <!--uploads-->
    <div class="profile-stats-uploads">
      <p class="stat-name">uploads</p>
      <p class="stat-value">345</p> <!-- TODO: replace with midis.count or similar-->
    </div>
    <!--upvotes-->
    <div class="profile-stats-upvotes">
      <p class="stat-name">upvotes</p>
      <p class="stat-value">1230</p> <!-- TODO: replace with upvote sum-->
    </div>
  </div>
  <p class="artist-details">Artist Details:</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, veniam, provident ullam facilis beatae cum unde quos eos molestias voluptatum, quidem porro deserunt commodi eligendi. Aliquid, unde? Minima, molestias ex.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, veniam, provident ullam facilis beatae cum unde quos eos molestias voluptatum, quidem porro deserunt commodi eligendi. Aliquid, unde? Minima, molestias ex.</p>
  <div class="profile-icons">
    <!--Soundcloud icon-->
    <a href="#">
      <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.4639 0H6.51546C2.92784 0 0 2.92784 0 6.51546V19.4845C0 23.0515 2.92784 25.9794 6.51546 25.9794H19.4845C23.0722 25.9794 26 23.0515 26 19.4639V6.51546C25.9794 2.92784 23.0515 0 19.4639 0ZM5.13402 15.7113C5.13402 15.7526 5.09278 15.7732 5.07217 15.7732C5.03093 15.7732 5.01031 15.7526 5.01031 15.7113L4.8866 14.7629L5.01031 13.7938C5.01031 13.7526 5.05155 13.732 5.07217 13.732C5.1134 13.732 5.13402 13.7526 5.13402 13.7938L5.27835 14.7629L5.13402 15.7113ZM5.73196 16.2887C5.73196 16.3299 5.69072 16.3505 5.6701 16.3505C5.62887 16.3505 5.60825 16.3299 5.60825 16.2887L5.4433 14.7629L5.60825 13.1959C5.60825 13.1546 5.64948 13.134 5.6701 13.134C5.71134 13.134 5.73196 13.1546 5.73196 13.1959L5.91753 14.7629L5.73196 16.2887ZM6.39175 16.5567C6.39175 16.5979 6.35052 16.6392 6.30928 16.6392C6.26804 16.6392 6.2268 16.5979 6.2268 16.5567L6.08247 14.7629L6.2268 12.9072C6.2268 12.866 6.26804 12.8247 6.30928 12.8247C6.35052 12.8247 6.39175 12.866 6.39175 12.9072L6.5567 14.7629L6.39175 16.5567ZM7.05155 16.6186C7.05155 16.6804 7.01031 16.7216 6.94845 16.7216C6.8866 16.7216 6.86598 16.6804 6.84536 16.6186L6.70103 14.7835L6.84536 12.8866C6.84536 12.8247 6.8866 12.7835 6.94845 12.7835C7.01031 12.7835 7.03093 12.8247 7.05155 12.8866L7.21649 14.7835L7.05155 16.6186ZM7.71134 16.6392C7.71134 16.701 7.6701 16.7629 7.60825 16.7629C7.54639 16.7629 7.50516 16.7216 7.50516 16.6392L7.36082 14.7835L7.50516 13.0103C7.50516 12.9485 7.54639 12.8866 7.60825 12.8866C7.6701 12.8866 7.71134 12.9278 7.71134 13.0103L7.85567 14.7835L7.71134 16.6392ZM8.45361 16.6392C8.45361 16.7216 8.35052 16.7629 8.28866 16.7629C8.2268 16.7629 8.14433 16.701 8.14433 16.6392L8 14.7835L8.12371 11.8969C8.12371 11.8144 8.18557 11.7732 8.24742 11.7732C8.30928 11.7732 8.37113 11.8351 8.37113 11.8969L8.5567 14.7835L8.45361 16.6392ZM9.07216 16.6186C9.07216 16.701 8.98969 16.7629 8.92783 16.7629C8.84536 16.7629 8.7835 16.701 8.7835 16.6186L8.65979 14.7629L8.7835 11.2165C8.7835 11.134 8.84536 11.0722 8.92783 11.0722C9.01031 11.0722 9.05155 11.134 9.07216 11.2165L9.21649 14.7629L9.07216 16.6186ZM9.69072 16.5979C9.69072 16.6804 9.62887 16.7629 9.54639 16.7629C9.46392 16.7629 9.40206 16.701 9.40206 16.5979L9.29897 14.7629L9.40206 10.9278C9.40206 10.8454 9.46392 10.7629 9.54639 10.7629C9.62887 10.7629 9.69072 10.8247 9.69072 10.9278L9.79381 14.7629L9.69072 16.5979ZM10.3918 16.5979C10.3918 16.701 10.3093 16.7629 10.2268 16.7629C10.1443 16.7629 10.0619 16.6804 10.0619 16.5979L9.95876 14.7835L10.0619 10.8247C10.0619 10.7216 10.1443 10.6598 10.2268 10.6598C10.3093 10.6598 10.3918 10.7423 10.3918 10.8247L10.5155 14.7629L10.3918 16.5979ZM11.0928 16.5773C11.0928 16.6804 11.0103 16.7629 10.9072 16.7629C10.8041 16.7629 10.7423 16.6804 10.7216 16.5773L10.6186 14.7835L10.7216 10.9072C10.7216 10.8041 10.8041 10.7216 10.9072 10.7216C11.0103 10.7216 11.0928 10.8041 11.0928 10.9072L11.1959 14.7629L11.0928 16.5773ZM11.7526 16.5567C11.7526 16.6598 11.6701 16.7629 11.567 16.7629C11.4639 16.7629 11.3814 16.6804 11.3814 16.5567L11.299 14.7629L11.3814 11.0515C11.3814 10.9278 11.4639 10.8454 11.567 10.8454C11.6701 10.8454 11.7526 10.9278 11.7526 11.0515L11.8351 14.7629L11.7526 16.5567ZM12.5773 16.5567C12.5773 16.6804 12.433 16.7835 12.3299 16.7835C12.2268 16.7835 12.1031 16.6804 12.1031 16.5567L12.0206 14.7835L12.0825 10.3505C12.0825 10.2268 12.1649 10.1237 12.2887 10.1237C12.3918 10.1237 12.4948 10.2268 12.4948 10.3505L12.6392 14.7835L12.5773 16.5567ZM13.1959 16.5155C13.1959 16.6392 13.0722 16.7423 12.9691 16.7423C12.8454 16.7423 12.7423 16.6392 12.7423 16.5155L12.6598 14.7629L12.7423 9.93814C12.7423 9.81443 12.8454 9.71134 12.9691 9.71134C13.0928 9.71134 13.1959 9.81443 13.1959 9.93814L13.299 14.7629L13.1959 16.5155ZM19.0928 16.7629C19.0515 16.7629 13.5876 16.7629 13.5876 16.7629C13.4639 16.7423 13.4021 16.6392 13.4021 16.5155V9.71134C13.4021 9.58763 13.4227 9.52577 13.567 9.46392C13.9588 9.29897 14.3918 9.21649 14.8247 9.21649C16.6598 9.21649 18.1649 10.7217 18.3299 12.6598C18.5567 12.5567 18.8247 12.4948 19.0928 12.4948C20.1856 12.4948 21.0928 13.4639 21.0928 14.6392C21.0928 15.8144 20.2062 16.7629 19.0928 16.7629Z" fill="black"/>
      </svg>
    </a>
    <!--instagram icon-->
    <a href="#"><!-- TODO: add link -->
      <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.475 0.260524H5.525C2.47867 0.260524 0 2.74623 0 5.80232V9.46886V10.5522V20.1776C0 23.2331 2.47867 25.7189 5.525 25.7189H20.475C23.5213 25.7189 26 23.2331 26 20.1776V10.5522V9.46886V5.80232C26 2.74623 23.5213 0.260524 20.475 0.260524ZM24.9167 20.1776C24.9167 22.6357 22.9239 24.6355 20.475 24.6355H5.525C3.07558 24.6355 1.08333 22.6357 1.08333 20.1776V10.5522H7.70304C6.29417 11.9296 5.41667 13.8477 5.41667 15.9689C5.41667 20.1505 8.81833 23.5522 13 23.5522C17.1817 23.5522 20.5833 20.1505 20.5833 15.9689C20.5833 13.8477 19.7058 11.9296 18.297 10.5522H24.9167V20.1776ZM19.5 15.9689C19.5 19.5531 16.5842 22.4689 13 22.4689C9.41579 22.4689 6.5 19.5531 6.5 15.9689C6.5 12.3846 9.41579 9.46886 13 9.46886C16.5842 9.46886 19.5 12.3846 19.5 15.9689ZM16.8859 9.46886C15.7479 8.78582 14.4213 8.38552 13 8.38552C11.5787 8.38552 10.2521 8.78582 9.11408 9.46886H1.08333V5.80232C1.08333 3.34369 3.07613 1.34386 5.525 1.34386H20.475C22.9239 1.34386 24.9167 3.34369 24.9167 5.80232V9.46886H16.8859Z" fill="black"/>
      </svg>
    </a>
    <!--facebook icon-->
    <a href="#"><!-- TODO: add link -->
      <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.9332 0.583679H2.06941C0.92485 0.583679 0 1.50766 0 2.65048V23.3298C0 24.4691 0.92485 25.3957 2.06941 25.3957H23.9332C25.0725 25.3957 26 24.47 26 23.3298V2.65048C25.9991 1.50766 25.0717 0.583679 23.9332 0.583679ZM17.4766 7.95035C16.9391 7.63598 16.5127 7.38762 15.9769 7.38762C15.4524 7.38762 15.0043 7.51875 14.775 7.73932C14.5458 7.95816 14.432 8.38194 14.432 9.00806V9.93465H17.2361L16.6291 12.5121H14.432V21.0763H10.9098V12.5121H9.26586V9.93465H10.9115V8.95075C10.9115 7.91474 11.0357 7.2947 11.2806 6.78321C11.5246 6.27346 11.9979 5.70552 12.6561 5.38421C13.3135 5.06377 14.2861 4.90225 15.2926 4.90225C16.3242 4.90225 17.1301 5.24614 18.1184 5.52316L17.4766 7.95035Z" fill="black"/>
      </svg>
    </a>
  </div>
</div>
