<h1>profile</h1>

<h3>basic</h3>
<ul>
  <li>username: </li>
  <%= current_user.username %>
  <li>profilepic</li>
  <li>follow button  </li>

    <a class="neon-button-primary" href="/midis">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Follow me
    </a>

  <li>my uploaded midis [default]</li>

  <% @midis.each do |midi| %>
    <p><%= midi.title %></p>
  <% end %>

  <li>my liked midis [alternate list]</li>
</ul>

<br>
<br>

<h3>Bio Card</h3>
<ul>
  <li>uploaded midi count</li>
  <li>upvotes sum</li>
  <li>bio</li>
  <li>icon link to [soundcloud, instagram, facebook]</li>
</ul>
