// .footer {
//   background-color: rgb(173, 220, 220);
//   height: 8vh;
//   border: 1px solid black;
//   // display: grid;
//   // justify-content: center;
//   // align-items: center;
// }

footer {
  height:50px;
  bottom: 0;
  width: 100%;
  background-color: $black;
  color: white;
  text-align: center;
}
