// // Specific CSS for your home-page
.home-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 10px;
  height: 100%;
  grid-template-rows: 75vh 130px 80vh 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:'banner'
                      'search'
                      'rotating-slide'
                      'midis-container';
  font-family: $body-font;
  font-size: 15px;
}

.home-container > div {
    // background-color: blue;
    // padding: 20px;
    // border: 1px solid rgb(255, 255, 255);
    // display: grid;
    // justify-content: center;
    // align-items: center;
}

.banner {
  grid-area: banner;
}
.search {
  grid-area: search;
}
.rotating-slide {
  grid-area: rotating-slide;

}
.midis-container {
  grid-area: midis-container;
}
