// Import page-specific CSS files here.
@import "home";
@import "footer";

.index-container {
  padding-top: 50px;
  margin: 0;
  display: grid;
  grid-gap: 10px;
  height: 100%;
  grid-template-rows: 100px;
  grid-template-columns: 300px 1fr;
  grid-template-areas:'filter-wrap search-bar'
                      'filter-wrap midi-card-list-wrap';
  font-family: $body-font;
  font-size: 15px;
}

.index-container > div {
  // padding: 20px;
}

.filter-wrap {
  grid-area: filter-wrap;
}

.search-bar {
  background-color: $black;
  grid-area: search-bar;
}

.midi-card-list-wrap{
  grid-area: midi-card-list-wrap;
}
