@import "filter_by";
@import "filter_category";

// filter grid setup start


.filter-wrap{
  width: 25%;
  min-width: 300px;
  height: 100vh;
  // position: sticky;
  top: 20px;
}

.filter {
  padding: 0;
  margin: 0;
  display: grid;
  // grid-gap: 10px;
  height: 100%;
  grid-template-rows: 100px 300px;
  grid-template-columns: 1fr;
  grid-template-areas:'filter-by'
                      'filter-category';
                      // 'filter-bpm-range'
                      // 'filter-mood';
  font-family: $body-font;
  font-size: 15px;
  border-right: 0.5px solid grey;
}
.filter p {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  // color: $black;
}

.filter > div {
  background-color: $black;
  padding: 30px;
}

.filter-by{
  grid-area: filter-by;
}

.filter-category{
  grid-area: filter-category;
}

// .filter-bpm-range{
//   grid-area: filter-bpm-range;
// }

// .filter-mood{
//   grid-area: filter-mood;
// }

// filter grid setup end
