<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= cl_image_tag("cld-sample-4",
      width: 400, height: 300, crop: :fill) %>

<%# test button %>
<a class="neon-button-primary" href="/midis">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  Neon button
</a>

<a class="neon-button-secondary" href="/midis">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  Secondary button
</a>
