<div class="home-container">
  <div class="banenr">banner</div>
  <div class="search">search</div>
  <div class="rotating-slide">rotating-slide</div>
  <div class="midis-container">midis-container</div>
</div>



<%# cloudinary image from Jeremy %>

<%# <%= cl_image_tag("cld-sample-4",
      width: 400, height: 300, crop: :fill) %>
