<div class="home-container">
  <div class="banenr">banner</div>
  <div class="search">search</div>
  <div class="rotating-slide">rotating-slide</div>
  <div class="midis-container">midis-container</div>
</div>
