.logo-medee-burrito {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.logo-background > img {
  width: 300px;
}

.medee > h1{
  font-size: 120px;
}
