.show-midi {
  display: flex;
  background-image: linear-gradient(#000000, #383838);
  padding: 0px 40px 20px 0px;
}

.show-midi-play {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 0px 40px;
}

.show-midi-info {
  flex-grow: 1;
}

.show-midi-info h1 {
  padding-top: 40px;
}

.show-midi-info p {
  text-align: right;
}

.show-midi-info-image {
  background-color: grey;
  height: 200px;
}

.show-midi-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  align-items: center;
}

.show-midi-bootom-tags {
  display: flex;
}

.show-description {
  display: flex;
  padding-top: 20px;
  gap: 20px;
}

.show-description a {
  text-decoration: none;
  color: white;
}

.show-description a:hover {
  text-decoration: none;
  color: white;
}

.show-description-artist p {
  text-align: center;
}

.avatar-midi-show {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

$delete-red: red;

body {
  margin: 32px;
}

.btn {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid lighten(gray, 24%);
  height: 48px;
  padding: 0 24px 0 16px;
  letter-spacing: .25px;
  border-radius: 24px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  .mdi {
    margin-right: 8px;
  }
}

.btn-delete {
  font-size: 16px;
  color: red;

  >.mdi-delete-empty {
    display: none;
  }

  &:hover {
    background-color: lighten(red, 48%);

    >.mdi-delete-empty {
      display: block;
    }

    >.mdi-delete {
      display: none;
    }
  }



  &:focus {
    box-shadow: 0 0 0 4px lighten(red, 40%);
  }
}
