@import "avatar_login";
@import "navbar_dropdown";

// top right bottom left
// top-bottom right-left
*{
  font-family: $headers-font;

}

header {
  li {
    list-style: none;
  }


  .navbar-link {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(169, 169, 169);
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 20px;
  background-color: $black;
  // border-bottom: 1px solid rgba(255, 255, 255, 0.652);
}

.navbar-logo-section {
  height: 100%;
  // width: 100%;
}

.navbar-link-section {
  li{
    padding: 20px 10px;
    margin: 0 20px;
    position: relative;
  }

  li:hover .navbar-link {
    color: white;
  }

  display: flex;
  margin: 0;
  padding: 0;
}



.navbar-sign-in-section {
  .username {
    padding-right: 10px;
  }
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


// link hover effect


.navbar-item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: rgb(210, 210, 210);
  box-shadow: 0 -5px 20px 3.5px $primary-blue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
