
.avatar-dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 8.2vh;
  right: 2px;
  z-index: 1;
  background-color: $black;
  display: none;
}
.avatar-dropdown-menu > li:hover{
  box-shadow: 0 0 10px white;

}

.navbar-sign-in-section:hover .avatar-dropdown-menu{
    display: block;
  }


.avatar-dropdown-menu > li {
  line-height: 40px;
  width: 130px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  background-color: $black;
}
