@import "avatar_login";
@import "navbar_dropdown";

// top right bottom left
// top-bottom right-left

header {
  li {
    list-style: none;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 20px;
  background-color: $black;
  // border-bottom: 1px solid rgba(255, 255, 255, 0.652);
}

.navbar-logo-section {}

.navbar-link-section {
  display: flex;
}

.navbar-sign-in-section {
  position: relative;
  display: flex;
  flex-direction: column;
  // height: 100%;
}
