.profile-banner {
  background-image: url("banner-placeholder.png");
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}

.profile-banner-container {
  max-width: 1320px;
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  margin-right: 20px;
}
