<div class="midi-card-list" data-search-midis-target="midilist">
  <p class="midi-available-count">
    <% if params[:query].blank? %>
      <%= pluralize midis.count, "midi" %> availableca
    <% else %>
      <%= pluralize midis.count, "result" %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
  <div class="midis">
    <% midis.each do |midi| %>
      <%= render "midi_card", midi: midi %>
    <% end %>
  </div>
</div>
