<div data-search-midis-target="midilist">
  <p class="h3">
    <% if params[:query].blank? %>
      <%= pluralize midis.count, "midi" %> available
    <% else %>
      <%= pluralize midis.count, "result" %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
  <div class="midis">
    <% midis.each do |midi| %>
      <%= render "midi_card", midi: midi %>
    <% end %>
  </div>
</div>
