<div class="midi-card-details-bottom-buttons">
  <div class="midi-card-details-bottom-upvotes">
    <div class="heart-active">
      <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.9997 18.25L9.67051 17.0631C4.94967 12.8639 1.83301 10.0944 1.83301 6.6955C1.83301 3.92602 4.05134 1.75 6.87467 1.75C8.46967 1.75 10.0005 2.47834 10.9997 3.62929C11.9988 2.47834 13.5297 1.75 15.1247 1.75C17.948 1.75 20.1663 3.92602 20.1663 6.6955C20.1663 10.0944 17.0497 12.8639 12.3288 17.0721L10.9997 18.25Z" stroke="white" stroke-width="2" stroke-linecap="square"/>
      </svg>
    </div>
    <%= midi.upvotes.count %>
  </div>
  <div class="midi-card-details-bottom-downloads">
    <div>
      <svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 15.8948V19.1053C1 20.2099 1.89543 21.1053 3 21.1053H21.0702C22.1747 21.1053 23.0702 20.2099 23.0702 19.1053V15.8948" stroke="#00D1FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M19.2609 11.179L12.0966 16.7419C12.0605 16.7699 12.01 16.7699 11.9739 16.7419L4.80961 11.179C4.73437 11.1206 4.77569 11 4.87094 11H8.65454C8.70977 11 8.75454 10.9552 8.75454 10.9V0.100001C8.75454 0.0447721 8.79931 0 8.85454 0H15.2159C15.2712 0 15.3159 0.0447715 15.3159 0.1V10.9C15.3159 10.9552 15.3607 11 15.4159 11H19.1995C19.2948 11 19.3361 11.1206 19.2609 11.179Z" fill="#00D1FF"/>
      </svg>
    </div>
    <%= midi.download_count %>
  </div>
  <div>
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.2898 15.0878C15.6079 15.0878 14.9727 15.2861 14.4371 15.627L9.03182 11.8532C9.11859 11.5503 9.16603 11.2307 9.16603 10.9C9.16603 10.5692 9.11859 10.2497 9.03182 9.94678L14.2912 6.27485C14.8555 6.67569 15.5448 6.91218 16.2897 6.91218C18.1984 6.91218 19.7458 5.36482 19.7458 3.45611C19.7458 1.5474 18.1985 0 16.2898 0C14.381 0 12.8337 1.54735 12.8337 3.45606C12.8337 3.70814 12.8614 3.95365 12.9127 4.19038L7.51972 7.95556C6.9933 7.63134 6.37363 7.44392 5.70997 7.44392C3.80126 7.44392 2.25391 8.99127 2.25391 10.9C2.25391 12.8087 3.80121 14.356 5.70997 14.356C6.37358 14.356 6.9933 14.1686 7.51972 13.8444L12.9543 17.6387C12.8761 17.9273 12.8337 18.2306 12.8337 18.5439C12.8337 20.4526 14.381 22 16.2898 22C18.1985 22 19.7458 20.4526 19.7458 18.5439C19.7458 16.6352 18.1985 15.0878 16.2898 15.0878Z" fill="#03D2FF"/>
    </svg>
  </div>
</div>
