<%# comment input from users (no visitors) goes here %>

<div class="show-comments">
  <div class="comments">
    <%# <% @comments.each do |comment| %> %>
      <%# <p><%= comment %></p> %>
    <%# <% end %> %>
  </div>
</div>
