<div class="container">
  <%# Midi player on top %>
  <%= render "show_midi", midi: @midi %>

  <%# Description and artist info %>
  <%= render "show_description", midi: @midi %>

  <%# TODO: Comment section %>
</div>
