<div class="container">
  <%# Midi player on top %>
  <%= render "show_midi", midi: @midi %>

  <%# Description and artist info %>
  <%= render "show_description", midi: @midi %>

  <%# TODO: Comment section %>

  <%#=destroy midi with confirmation  %>
  <%# if current_user == @midi.user%>
    <%#= link_to "Delete",
    midi_path(@midi),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <%# end %>
</div>
